@{
    ViewData["Title"] = "School Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Middle School</h1>
    <p>
        The work of our school board members demands commitment — members invest hundreds of hours of personal and professional time working for and in our district. Successful board members possess the skill of diplomats, the knowledge of scholars, and the commitment of the truly devoted.
    </p>
</div>
<div class="text-center">
    <p>
        They carry the message and mission of the district to community residents; participate in various district functions, school events, and community meetings; and spend countless hours reading, researching, and studying materials — all this in addition to the many hours they spend attending board meetings.
    </p>
</div>
<div class="text-center">
    <p>
        School board members carefully develop policies, take actions, and make decisions for our schools that reflect the values and expectations of the citizens of the Gilbert, Lexington, Pelion, and White Knoll attendance areas.
    </p>
</div>

